[Desktop Entry]
Name=TwitCrusader
Comment=Simple Twitter Client
TryExec=TwitCrusader
Exec=TwitCrusader
Icon=TwitCrusader
Type=Application
Categories=Network;Twitter Client;
StartupNotify=true
