#container{
	width: 100%;
	clear: both;
	margin: 0 auto;
}

#content{
	font-family: "Verdana","Sans Serif","OpenSymbol"; 
	font-size: 14px;
	color: #000000;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: justify;
	clear: both;
}

.author{
	text-align: right;
}

.clear{
	clear: both;
}

.boxmenu{
	font-family: "Droid Sans","DroidSans_Import","Verdana","Sans Serif","OpenSymbol"; 
	font-size: 15px;
	background-color: #5BC0FE; 
	border-width: 1px;
	border-style: solid;
	border-color: #009CF5;
	color: #000000;
	padding: 5px;
	clear: both;
	margin-top: 15px;
	text-align: center;
}

.post-title{
	font-family: "Droid Sans","DroidSans_Import","Verdana","Sans Serif","OpenSymbol"; 
	font-size: 15px;
	background-color: #5BC0FE; 
	border-width: 1px;
	border-style: solid;
	border-color: #009CF5;
	color: #000000;
	padding: 5px;
	margin-bottom: 10px;
}

.content-style{
	font-family: "Verdana","Sans Serif","OpenSymbol"; 
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #009CF5;
	color: #000000;
	padding: 5px;
}

#spacecontent{
	margin-top: 20px;
}

#spacepost{
	margin-top: 10px;
}

#contentpost{
	padding-left: 5px;
}
