html,body{
	max-width: 800px;
	min-width: 240px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

img {
	border: 0;
	max-width: 100%;
}

embed {
	width: 280px;
	height: 280px;
}

object {
	width: 280px;
	height: 280px;
}

@font-face {
  font-family: DroidSans_Import;
  src: local('DroidSans_Import'), url("../font/DroidSansMono.ttf") format("truetype");
}
