a:link, a:visited, a:hover, a:active, a:focus{
  color: #000000;
}

a:link:hover, a:visited:hover{ 
  text-decoration:none;
}
a:active{ 
  text-decoration:none;
}
a:focus{ 
  text-decoration:none;
}
a:visited{ 
  text-decoration:none;
}
a:link{ 
  text-decoration:none;
}

a.menu:link, a.menu:visited, a.menu:hover, a.menu:active, a.menu:focus{
	font-family: Arial,"Verdana"; 
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

a.menu:link:hover, a.menu:visited:hover{ 
  text-decoration:underline;
}
a.menu:active{ 
  text-decoration:none;
}
a.menu:focus{ 
  text-decoration:underline;
}
a.menu:visited{ 
  text-decoration:none;
}
a.menu:link{ 
  text-decoration:none;
}

a.title_post:link, a.title_post:visited, a.title_post:hover, a.title_post:active, a.title_post:focus{
	font-family: "DejaVu Sans","Sans Serif",Verdana; 
	font-size: 18px;
	font-weight: bold;
	color: #2E7FBE;
}

a.title_post:link:hover, a.title_post:visited:hover{ 
  text-decoration:underline;
}
a.title_post:active{ 
  text-decoration:none;
}
a.title_post:focus{ 
  text-decoration:underline;
}
a.title_post:visited{ 
  text-decoration:none;
}
a.title_post:link{ 
  text-decoration:none;
}

a.author:link, a.author:visited, a.author:hover, a.author:active, a.author:focus{
	font-family: "DejaVu Sans","Sans Serif",Verdana; 
	font-weight: bold;
	color: #5A5A5A;
}

a.author:link:hover, a.author:visited:hover{ 
  text-decoration:underline;
}
a.author:active{ 
  text-decoration:none;
}
a.author:focus{ 
  text-decoration:underline;
}
a.author:visited{ 
  text-decoration:none;
}
a.author:link{ 
  text-decoration:none;
}

