#title{
	margin-top: 125px;
	font-family: "Droid Sans","DroidSans_Import","Verdana","Sans Serif","OpenSymbol"; 
	font-size: 72px;
	color: #000000;
	text-align: left;
	position: relative;
	z-index: 1;
}

#subtitle{
	font-family: "Droid Sans","DroidSans_Import","Verdana","Sans Serif","OpenSymbol"; 
	font-size: 24px;
	color: #000000;
	text-align: left;
	position: relative;
	z-index: 1;
}
