[submodule "dependences/liblogc"]
	path = dependences/liblogc
	url = /home/michele/Downloads/liblogc
[submodule "dependences/libtwitc"]
	path = dependences/libtwitc
	url = /home/michele/Downloads/TwitterAPI-TwitCrusader/
