Desktop Entry]
Name=TwitCrusader
Comment=Simple Twitter's Client
TryExec=twc
Exec=twc
Icon=tw_logo_original
Type=Application
Categories=Network;Twitter Client;
StartupNotify=true
