[Desktop Entry]
Name=TwitCrusader
Comment=Simple Twitter Client
TryExec=twc
Exec=twc
Icon=TwitCrusader
Type=Application
Categories=Network;Twitter Client;
StartupNotify=true
